/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  padding-top: 2rem;
}

.booking-form {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.booking-form h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #000000;
}

/* Form styles */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.form-group input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #e4630d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #3e3e3e;
}

.success-message,
.error-message {
  font-size: 1.2rem;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.success-message {
  background-color: #dff0d8;
  color: #3c763d;
}

.error-message {
  background-color: #f2dede;
  color: #a94442;
}

/* Media queries */
@media (max-width: 767px) {
  /* Tab buttons container */
  .form-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  /* Tab buttons */
  .form-tabs button {
    flex: 1;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;
    font-weight: bold;
    color: #000000;
    transition: background-color 0.2s;
  }

  /* Tab buttons hover */
  .form-tabs button:hover {
    background-color: #3e3e3e;
    color: #efffff;
  }

  /* Active tab button */
  .form-tabs button.active {
    background-color: #e4630d;
    color: #efffff;
  }
}

@media (min-width: 768px) {
  .booking-form {
    max-width: 60rem;
  }

  .form-group {
    flex-direction: row;
    align-items: center;
  }

  .form-group label {
    margin-right: 2rem;
    flex-basis: 20%;
  }

  .form-group input {
    flex-basis: 60%;
  }

  button[type="submit"] {
    margin-left: 2rem;
    padding: 0.5rem 2rem;
  }

  .success-message,
  .error-message {
    margin-top: 0;
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
  }

  /* Tab buttons container */
  .form-tabs {
    display: flex;
    margin-bottom: 1rem;
  }

  /* Tab buttons */
  .form-tabs button {
    flex: 1;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    padding: 10px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    outline: none;
    font-weight: bold;
    color: #000000;
    transition: background-color 0.2s;
  }

  /* Tab buttons hover */
  .form-tabs button:hover {
    background-color: #3e3e3e;
    color: #efffff;
  }

  /* Active tab button */
  .form-tabs button.active {
    background-color: #e4630d;
    color: #efffff;
  }
  /* result from date query */
  .query-result {
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.2rem;
    color: #3e3e3e;
  }
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top-color: #e4630d;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
